@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--fields input, select, textarea;
@custom-selector :--lists ol, ul;

:--headings {
  margin: 0;
  font-weight: 400;
}

:--fields {
  padding: 0;
  outline: none;
}

:--lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Montserrat, system-ui;
}

p {
  margin: 0;
}

button {
  padding: 0;
  outline: 0;
  border: 0;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}
