.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link {
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark-blue);
}
